# Task-1

In [2]:
import pandas as pd
import numpy as np

In [41]:

df = pd.read_csv("datasets\dataset-1.csv")
df2 = pd.read_csv("datasets\dataset-2.csv").dropna()
df2.head(1)

,id,name,id_2,startDay,startTime,endDay,endTime,able2Hov2,able2Hov3,able3Hov2,able3Hov3,able5Hov2,able5Hov3,able4Hov2,able4Hov3
0,1040000,Montgomery,-1,Monday,05:00:00,Wednesday,10:00:00,3.0,3.0,-1.0,-1,3,3,3,3

In [ ]:
import pandas as pd

def time_check(df):
  
    df['start_time'] = pd.to_datetime(df['startDay'] + ' ' + df['startTime'])
    df['end_time'] = pd.to_datetime(df['endDay'] + ' ' + df['endTime'])

    
    df['expected_end_time'] = df['start_time'].dt.date + pd.Timedelta(days=1) - pd.Timedelta(seconds=1)

    grouped = df.groupby(['id', 'id_2'])

 
    completeness_check = grouped.apply(lambda x: all(x['start_time'].min().time() == pd.Timestamp('00:00:00').time() and
                                                      x['end_time'].max().time() == pd.Timestamp('23:59:59').time() and
                                                      len(x['start_time']) == 7 and
                                                      all(x['end_time'].dt.date == x['expected_end_time'])).values)

    return completeness_check
  
print(time_check(df2))

In [ ]:
df2['start_time'] = pd.to_datetime(df2['startDay'] + ' ' + df2['startTime'])
df2['end_time'] = pd.to_datetime(df2['endDay'] + ' ' + df2['endTime'])